 .app {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 110vh;
   background: linear-gradient(#51adf3, #1c236f);
   color: white;
   text-align: center;
}

 h1 {
   margin-bottom: 20px;
}