input {
    border: 2px solid rgb(154, 53, 249);
    border-radius: 8px;
    padding: 8px 8px;

    color: darkmagenta;
    font-weight: 600;
    background-color: rgb(217, 178, 254);

}
label {
    color: darkslateblue;
    font-weight: 700;

}
textarea {
    border: 2px solid rgb(154, 53, 249);
    border-radius: 8px;
    padding: 8px 8px;

    color: darkmagenta;
    font-weight: 600;
    background-color: rgb(217, 178, 254);
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.formTitle {
    color: darkslateblue;
    font-weight: 800;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 400px;
    padding: 10px 14px;
    border: 2px solid rgb(169, 82, 251);
    border-radius: 8px;

    background-color: rgb(182, 118, 243);
}
.error {
    color: red;
    font-size: 14px;
    font-weight: 600;
    text-decoration-color: purple;
    text-decoration-line: underline;
}
.btnSubmit {
    width: 180px;
    height: 40px;

    font-weight: 600;
 
    color: bisque;
    background-color: rgb(148, 57, 234);
    border: 2px solid rgb(169, 82, 251);
    border-radius: 8px;
}
.btnSubmit:hover{
    background-color: rgb(117, 35, 193);
}