button {
    width: 180px;
    height: 34px;
    padding: 5px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}

.task-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 144, 232);
    border: 2px solid rgb(222, 122, 222);
    border-radius: 8px;
    width: 600px;
    min-height: 400px;
    padding: 10px;
}
.task-item {
    list-style: none;
    background-color: rgb(194, 75, 194);
    border-radius: 8px;
}

.btn-delete,
.btn-clear {
    background-color: rgb(190, 139, 238);
}

.btn-edit,
.btn-add {
    background-color: rgb(207, 88, 203);
}

