* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ade0ff;;
    background-image: url('../assets/nature-background.jpg');
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    height: 100vh;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.slider-image {
    width: 750px;
    height: 500px;
    object-fit: cover;
    display: none;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
}

.arrow {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
}
.arrow:hover {
    border: 1px solid rgb(37, 208, 208);
}

.arrow-right {
    transform: rotate(180deg);
}

@keyframes show {
    0% {
        opacity: 10%;
        width: 10%;
        height: 10%;
        border-radius: 100%;
        transform: rotate(180deg);
    }
}

.block {
    display: block;
    animation: show 1.3s 1;
    margin: 0 auto;
}

.pagination-circle {
    width: 25px;
    height: 25px;
    border: 2px solid deepskyblue;
    border-radius: 50%;
}

.active {
    background-color: rgb(37, 208, 208);
}

.bottom {
    display: flex;
    column-gap: 25px;
}

