.container-group {
    width: 400px;
    margin: 0 auto;
    padding-top: 200px;
}

.title {
    color:  rgb(233, 168, 204);
    font-weight: 800;
    font-size: 32px;
}

.btn-go-main {
    width: 180px;
    padding: 8px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid #FF9800;
    text-decoration: none;
}