.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;

    background-color: cadetblue;
}

.title {
    color: rgb(7, 60, 43);
    font-weight: 600;
}
.timer {
    width: 400px;
    height: 300; 
    padding: 20px 30px;
    margin-bottom: 20px;
    text-align: center;

    background-color: rgb(91, 203, 166);

}

.timer-input {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    padding: 4px;
    border: 2px solid rgb(10 86 61);
    border-radius: 4px;
    background-color: rgb(103, 247, 199);

}

.btn-group {
    display: flex;
    padding: 10px;
}

.btn-start {
    width: 180px;
    height: 30px;
    border: 2px solid rgb(16, 111, 80);
    border-radius: 6px;
    background-color: rgb(34, 157, 116);
}

.timer-tick {
    width: 80px;
    height: 35px;
    margin: 4px 12px;
    padding: 5px;
    border: 2px solid rgb(16, 111, 80);
    border-radius: 6px;
    background-color: rgb(113, 225, 188);
}

.btn-end {
    width: 180px;
    height: 30px;
    border: 2px solid rgb(16, 111, 80);
    border-radius: 6px;
    background-color: rgb(34, 157, 116);
}